<div class="container">
    <div class="card">
        <div class="card-title">Resistor Color Calculator (4 band resistor)</div>
        <div class="group">
            <div class="child">
                <div class="dropdown">
                    <button class="btn first">First Color</button>
                    <ul class="btn-dropdown">
                        <li class="disabled">Black (invalid)</li>
                        <li>Brown</li>
                        <li>Red</li>
                        <li>Orange</li>
                        <li>Yellow</li>
                        <li>Green</li>
                        <li>Blue</li>
                        <li>Violet</li>
                        <li>Grey</li>
                        <li>White</li>
                    </ul>
                </div>
            </div>
            <div class="child">
                <div class="dropdown">
                    <button class="btn second">Second Color</button>
                    <ul class="btn-dropdown">
                        <li>Black</li>
                        <li>Brown</li>
                        <li>Red</li>
                        <li>Orange</li>
                        <li>Yellow</li>
                        <li>Green</li>
                        <li>Blue</li>
                        <li>Violet</li>
                        <li>Grey</li>
                        <li>White</li>
                    </ul>
                </div>
            </div>
            <div class="child">
                <div class="dropdown">
                    <button class="btn third">Third Color</button>
                    <ul class="btn-dropdown">
                        <li>Black</li>
                        <li>Brown</li>
                        <li>Red</li>
                        <li>Orange</li>
                        <li>Yellow</li>
                        <li>Green</li>
                        <li>Blue</li>
                        <li>Violet</li>
                        <li>Grey</li>
                        <li>White</li>
                    </ul>
                </div>
            </div>
            <div class="child">
                <div class="dropdown">
                    <button class="btn fourth">Fourth Color</button>
                    <ul class="btn-dropdown">
                        <li>Gold</li>
                        <li>Silver</li>
                        <li>Transparent</li>
                    </ul>
                </div>
            </div>
        </div>
       <div id="result"><button onclick="calculateResistor()">Calculate </button> <span id="value">0</span> Ohms - <span id="tolerance">0%</span></div>
    </div>
</div>
